header {
  height: 100px;
  border: 2px solid black;
}

.header-scores {
  padding: 5px;
  background-color: aquamarine;
  color: grey;
}

button {
  padding: 5px;
  background-color: purple;
  color: white;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}